/*htmlproject.html*/

html{
  background color: #fff;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "footer footer"
}

{  background-color: #fff;
}

header {

  grid-area: header;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

nav{
  grid-area: header; nav;
  text-align: center;
}


footer {
  text-align: center;
  background-color: #fff;
}
section {
  background-color: #gray;
  margin: 20px;
  padding: 20px;
}




h1{
  font-size: 36px;
  text-align: center;
  font-family: BebasNeue-Regular;
  color: #1919C9;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000
  text-decoration: none;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-family: Cabin;
  color: #0B7905
}

p {
  font-size: 24px;
  font-family: Bitter
}

img{
  margin: 20px;
  padding:20px;

}
ul{
  margin: 10px;
  padding: 10px;
  text-align: left;
}
figcaption{
  text-align: center;

}
